/* Inter Variable */
@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Newsreader Variable */
@font-face {
  font-family: 'Newsreader';
  src: url('/src/fonts/newsreader/Newsreader-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Newsreader';
  src: url('/src/fonts/newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Soehne Fonts */
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-buch-kursiv.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-dreiviertelfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-dreiviertelfett-kursiv.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-extrafett.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-extrafett-kursiv.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-extraleicht.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-extraleicht-kursiv.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-fett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-fett-kursiv.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-halbfett.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-halbfett-kursiv.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-kraftig.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-kraftig-kursiv.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-leicht.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Soehne';
  src: url('/src/fonts/soehne/test-soehne-leicht-kursiv.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* GT Super Fonts */
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Bold-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Light-Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Super.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Display-Super-Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Black-Italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Bold-Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Book-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Medium-Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Super';
  src: url('/src/fonts/gt-super/GT-Super-Text-Regular-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}