/* Neue Haas Unica - Regular */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Thin */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Thin Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Extra Light */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Extra Light Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtLtIta.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Light */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Light Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Medium */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Medium Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Bold */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Bold Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Extra Bold */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Extra Bold Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Neue Haas Unica - Black */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Extra Black */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtraBlack.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

/* Neue Haas Unica - Extra Black Italic */
@font-face {
  font-family: 'Neue Haas Unica';
  src: url('/src/fonts/neue-haas-unica/NeueHaasUnica-ExtBlkIta.woff2') format('woff2');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

/* Saol Display - Regular */
@font-face {
  font-family: 'Saol Display';
  src: url('/src/fonts/saol-display/4c4c08af466e9ad071b6d69cf44093df.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Saol Display - Medium */
@font-face {
  font-family: 'Sole Serif Display';
  src: url('/src/fonts/sole-serif/sole-serif-display-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Cormorant- Variable */
@font-face {
  font-family: 'Cormorant';
  src: url('/src/fonts/cormorant/Cormorant-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('/src/fonts/cormorant/Cormorant-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Source Serif 4 - Variable */
@font-face {
  font-family: 'Source Serif 4';
  src: url('/src/fonts/source-serif-4/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('/src/fonts/source-serif-4/SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}