@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 23 23 23; /* #171717 */
        --color-bg-main: 242 241 236; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
        --color-text-muted: 0 0 0; /* #000000 */
    }
    html.dark {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 241 236; /* #F2F1EC */
        --color-text-muted: 242 241 236; /* #F2F1EC */
    }
    body {
        @apply bg-main text-main;
    }
}

@layer components {
    .prose {
        @apply max-w-none;
    }
    
    /* Dark mode paragraph color */
    .dark .prose-dante p {
        color: rgb(var(--color-text-main)) !important;
    }
    
    /* SVG inversion in dark mode */
    .dark svg:not([class*="no-invert"]) {
        filter: invert(100%);
    }
    
    /* SVG in img tags inversion in dark mode */
    .dark img[src$=".svg"]:not([class*="no-invert"]) {
        filter: invert(100%);
    }
}

@layer utilities {
    .svg-invert {
        filter: invert(100%);
    }
    
    .dark .svg-auto-invert {
        filter: invert(100%);
    }
    
    /* Optional: Class to prevent SVG inversion */
    .no-svg-invert {
        filter: invert(0%);
    }
}

/* Image styles */
#cover-img,
#article-img {
    width: 100%;
    height: auto;
}

#cover-img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

#article-img {
    border: 1px solid rgb(var(--color-text-main) / 0.08);
}

/* Caption styles */
figcaption, 
figcaption a {
    font-size: 0.7rem !important;
    color: rgb(var(--color-text-muted) / 0.6) !important;
}