---
import siteConfig from '@/data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-14 border-b border-solid border-main pb-6">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-4xl sm:leading-tight mb-4 text-main">
                    {siteConfig.title}
            </h1>
        )
    }
    {siteConfig.subtitle && <h2 class="text-sm sm:text-base text-main mt-2">{siteConfig.subtitle}</h2>}
</header>
