---
import siteConfig from '@/data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-14 border-b border-solid border-main pb-6">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <h1 class="font-serif text-4xl leading-tight font-medium text-theme-foreground sm:text-5xl">
                    {siteConfig.title}
            </h1>
        )
    }
    {siteConfig.subtitle && <h2 class="text-s mt-2">{siteConfig.subtitle}</h2>}
</header>
